<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">

		<title><%= yield_content :generic_title %></title>
		
		<meta name="description" content="<%= current_page.data.description %>" />
  		<meta name="msvalidate.01" content="BE7DA3BEF0F11153F6E4B5585C12DB20" />

  		<link rel="canonical" href="http://darrenknewton.com<%= current_page.url %>">
  		<%= favicon_tag 'favicon.ico' %>

		<%= stylesheet_link_tag 'screen.css' %>
		<%= stylesheet_link_tag 'pastie.css' %>
	</head>
	<body id="generic" itemscope itemtype="http://schema.org/WebPage">

		<div id="masthead-container">
			<div id="masthead" class="container">
				<div id="masthead-logo">
					<a href="/"><%= image_tag 'logo-small.png', :width => '40', :height => '40', :alt => '{(*)}', :itemprop => "image" %> <span><em itemprop="name">Miscellanea</em><i> / Code, design &amp; cultural ephemera</i></span></a>
				</div>
				<nav>
					<%= partial "topnav" %>
				</nav>
			</div>
		</div>

		<div class="container">
			<article class="hentry" itemscope itemtype="http://schema.org/ItemList">
				<header>
					<h1 class="entry-title" itemprop="name"><%= yield_content :generic_title %></h1>
				</header>

				<div class="entry-content" itemprop="articleBody">
					<%= yield %>
				</div>

				<footer>
					<div class="metadata"></div>
					<div class="nav-back">
						<a href="/">← Back to homepage</a>
					</div>
				</footer>
			</article>
		</div>

		<div id="article-nav-container">
			<aside id="article-nav" class="container"></aside>
			<aside id="article-nav-mobile">
				<a href="/"><span>&lt;</span> Back to homepage</a>
			</aside>
		</div>

		<%= partial "footer" %>
		
		<script src="http://use.typekit.com/lbz5aep.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26663515-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>