<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">

    <title>404 | Miscellanea by Darren Newton</title>

    <meta name="author" content="Darren Newton">
    <meta name="description" content="404 - Looks like a page wandered off the reservation.">

    <meta name="msvalidate.01" content="BE7DA3BEF0F11153F6E4B5585C12DB20" />

    <link rel="alternate" type="application/rss+xml" href="feed.rss" title="Sitewide RSS 2.0 Feed">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Sitewide ATOM Feed">
    <link rel="alternate" type="application/atom+json" href="atom.json" title="Sitewide JSON Feed">

    <%= favicon_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'screen.css' %>
    <%= stylesheet_link_tag 'pastie.css' %>

    <script src="http://use.typekit.com/lbz5aep.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body id="generic" itemscope itemtype="http://schema.org/Blog">

    <div id="masthead-container">
      <div id="masthead" class="container">
        <div id="masthead-logo">
          <a href="/"><%= image_tag 'logo-small.png', :width => '40', :height => '40', :alt => '{(*)}', :itemprop => "image" %> <span><em itemprop="name">Miscellanea</em><i> / Code, design &amp; cultural ephemera</i></span></a>
        </div>
        <nav>
          <%= partial "topnav" %>
        </nav>
      </div>
    </div>
    <div class="container">
      <article class="hentry">
        <header>
          <h1 class="entry-title" itemprop="name">Whoops!</h1>
        </header>

        <div class="entry-content missing" itemprop="articleBody">

          <%= entry_asset({:url => 'http://images.darrennewton.com/404.jpg', :alt => '404', :title => "Frank Poole"}, 'http://images.darrenknewton.com/404.jpg') %>

          <p>Looks like a page wandered off the reservation. Could be a munged link, or maybe I nuked the article in question. Google might be able to help, you can use the search form below to try and find what you were looking for.</p>
          <p>
            <script>
              var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
              GOOG_FIXURL_SITE = location.host;
            </script>
            <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
          </p>
        </div>
      </article>
    </div>

		<footer id="footer-page">
			<div class="container">
				<div id="colophon">
					<div id="colophon-a">
						You should follow me on <a href="https://twitter.com/#!/d_run">Twitter</a> or <a href="https://plus.google.com/106799502423019983125?rel=author" rel="author">Google</a>. You could fork one of my <a href="https://github.com/DarrenN">repos</a> on GitHub. My design portfolio is <a href="http://v25media.com" rel="me">here</a>.
					</div>
					<div id="colophon-b">
						&copy; <%= Date.today.year %> <span itemprop="author">Darren Newton</span>, all rights reserved.
					</div>
				</div>
				<div id="badges">
					<div id="badges-a">
						<ul>
							<li><%= link_to 'JSON', '/atom.json', :type => "application/json", :rel => "alternate" %></li>
							<li><%= link_to 'RSS', '/feed.rss', :type => "application/xml", :rel => "alternate" %></li>
							<li><%= link_to 'XML', '/atom.xml', :type => "application/atom+xml", :rel => "alternate" %></li>
						</ul>
					</div>
					<div id="badges-b">
						<%= partial "coderwall" %>
					</div>
				</div>
			</div>
		</footer>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26663515-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
<!--
	All content and design is
	Copyright (c) <%= Date.today.year %> Darren Newton, all rights reserved
-->
