<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Miscellanea</title>
  <subtitle>Code, design &amp; cultural ephemera</subtitle>
  <link href="http://darrenknewton.com/atom.xml" rel="self"/>
  <link href="http://darrenknewton.com/"/>
  <id>urn:uuid:<%= settings.uuid %></id>
  <updated><%= Time.now.strftime('%FT%T%:z') %></updated>
  <rights>Copyright (c) <%= Date.today.strftime('%Y') %>, Darren Newton</rights>
  <author>
    <name>Darren Newton</name>
  </author>
  <entry>
    <title type="html"><%= escape_html @atom_article.title %></title>
    <link href="http://darrenknewton.com<%= @atom_article.url %>"/>
    <updated><%= @atom_article.date.strftime('%FT%T%:z') %></updated>
    <id>urn:uuid:<%= UUID.create_sha1('darrenknewton.com' + @atom_article.url, UUID::NameSpace_URL) %></id>
    <summary><%= strip_tags @atom_article.summary %></summary>
    <content type="html"><![CDATA[<%= @atom_article.body %>]]></content>
  </entry>   
</feed>