---
layout: generic
description: Article archives
---
<% content_for :generic_title do %>
  <% if @day %>
    Archives for <%= Date.new(@year, @month, @day).strftime('%b %e %Y') %>
  <% elsif @month %>
    Archives for <%= Date.new(@year, @month, 1).strftime('%b %Y') %>
  <% else %>
    Archives for <%= @year %>
  <% end %>
<% end %>
<% content_for :generic_description do %>
  <% if @day %>
    Article archives for <%= Date.new(@year, @month, @day).strftime('%b %e %Y') %>
  <% elsif @month %>
    Article archives for <%= Date.new(@year, @month, 1).strftime('%b %Y') %>
  <% else %>
    Article archives for <%= @year %>
  <% end %>
<% end %>
<meta itemprop="itemListOrder" content="Descending" />
<ul>
  <% @articles.each_with_index do |article, i| %>
  <li><%= link_to article.title, article.url %> <time itemprop="datePublished"><%= article.date.strftime('%b %e') %></time></li>
  <% end %>
</ul>