<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">

		<title>Miscellanea | Code, design, &amp; cultural ephemera</title>

		<meta name="author" content="Darren Newton">
		<meta name="description" content="Unix tricks, programming, interface design and cultural observations from Darren Newton's brain">

		<meta name="msvalidate.01" content="BE7DA3BEF0F11153F6E4B5585C12DB20" />

		<link rel="alternate" type="application/rss+xml" href="feed.rss" title="Sitewide RSS 2.0 Feed">
		<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Sitewide ATOM Feed">
		<link rel="alternate" type="application/atom+json" href="atom.json" title="Sitewide JSON Feed">

		<link rel="canonical" href="http://darrenknewton.com">
  		<%= favicon_tag 'favicon.ico' %>

		<%= stylesheet_link_tag 'screen.css' %>
		<%= stylesheet_link_tag 'pastie.css' %>

		<script>
			var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-26663515-1']);
		    _gaq.push(['_trackPageview']);

		    (function() {
		      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		    })();
		</script>
	</head>
	<body id="home" itemscope itemtype="http://schema.org/Blog">

		<div id="masthead-container">
			<div id="masthead" class="container">
				<div id="masthead-logo">
					<a href="/"><%= image_tag 'logo-small.png', :width => '40', :height => '40', :alt => '{(*)}', :itemprop => "image" %> <span><em itemprop="name">Miscellanea</em><i> / Code, design &amp; cultural ephemera</i></span></a>
				</div>
				<nav>
					<%= partial "topnav" %>
				</nav>
			</div>
		</div>

		<div class="container" itemprop="blogPosts">
			<% article = blog.articles[0] %>
			<article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
				<header>
					<h1 class="entry-title" itemprop="name"><%= link_to article.title, article.url %></h1>
				</header>

				<div class="entry-content" itemprop="articleBody">
					<%= article.body %>
					<p><%= link_to 'Join the conversation about ' + article.title + '&hellip;', article.url, :class => 'read-more' %></p>
				</div>

				<footer>
					<div class="metadata">
						<time class="updated" pubdate itemprop="datePublished" datetime="<%= article.date.strftime('%b-%e-%Y') %>"><span>Posted on</span> <%= article.date.strftime('%b %e, %Y') %></time> | <strong>Metadata:</strong> <%= article.tags.join(', ') %>
					</div>
				</footer>
			</article>
			<% blog.articles[1..4].each do |article| %>
			<article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
				<header>
					<h1 class="entry-title" itemprop="name"><%= link_to article.title, article.url %></h1>
				</header>

				<div class="entry-content" itemprop="articleBody">
					<%= article.summary %><%= link_to 'Read more about ' + article.title + '&hellip;', article.url, :class => 'read-more' %>
				</div>

				<footer>
					<div class="metadata">
						<time class="updated" pubdate itemprop="datePublished" datetime="<%= article.date.strftime('%b-%e-%Y') %>"><span>Posted on</span> <%= article.date.strftime('%b %e, %Y') %></time> | <strong>Metadata:</strong> <%= article.tags.join(', ') %>
					</div>
				</footer>
			</article>
			<% end %>
		</div>

		<div id="article-nav-container">
			<aside id="article-nav" class="container">
				<ul>
					<li id="article-nav-left">
						<%= link_to "<span>&lt;</span> View all articles", '/archive' %>
					</li>
					<li id="article-nav-right">
						<%= link_to blog.articles[1].title + " <span>&gt;</span>", blog.articles[1].url %> 
					</li>
				</ul>
			</aside>
			<aside id="article-nav-mobile">
				<a href="/"><span>&lt;</span> Back to homepage</a>
			</aside>
		</div>

		<footer id="footer-page">
			<div class="container">
				<div id="colophon">
					<div id="colophon-a">
						You should follow me on <a href="https://twitter.com/#!/d_run">Twitter</a> or <a href="https://plus.google.com/106799502423019983125?rel=author" rel="author">Google</a>. You could fork one of my <a href="https://github.com/DarrenN">repos</a> on GitHub. My design portfolio is <a href="http://v25media.com" rel="me">here</a>. 
					</div>
					<div id="colophon-b">
						&copy; <%= Date.today.year %> <span itemprop="author">Darren Newton</span>, all rights reserved.
					</div>
				</div>
				<div id="badges">
					<div id="badges-a">
						<ul>
							<li><%= link_to 'JSON', '/atom.json', :type => "application/json", :rel => "alternate" %></li>
							<li><%= link_to 'RSS', '/feed.rss', :type => "application/xml", :rel => "alternate" %></li>
							<li><%= link_to 'XML', '/atom.xml', :type => "application/atom+xml", :rel => "alternate" %></li>
						</ul>
					</div>
					<div id="badges-b">
						<%= partial "coderwall" %>
					</div>
				</div>
			</div>
		</footer>
		<script src="http://use.typekit.com/lbz5aep.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</body>
</html>